extends layout

block content
  h1= title
  footer
    p Hello, this is a Node/Express server, work in progress. One day, this will be my portfolio website.
    p For now, visit #[a(href="https://dantetam.github.io/") my current portfolio].
  img(src="/images/sf_panorama.jpg")
