doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')

  body
    header
      nav(class="navbar navbar-intro navbar-fixed-top navie navbar-fixed-side navbar-fixed-side-left navbar-toggleable-md")
        div(class="container")
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
    section#wrapper
      block content
      br
      br
      p
        | #[a(href="https://github.com/dantetam") GitHub] &emsp;
        | #[a(href="https://dantetam.github.io/src/projects") Projects] &emsp;
        | #[a(href="https://dantetam.github.io/src/Dante_Tam_Jan_2018_Resume.pdf") Resume]
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/bootstrap.bundle.js")
