doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')

  body
    header
      nav(class="navbar navbar-intro navbar-fixed-top navie navbar-fixed-side navbar-fixed-side-left")
        div(class="container")
          div(class="navbar-header")
            ul(class="nav navbar-nav")
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="/contact") Contact
    section#wrapper
        block content
        footer
          p Hello, this is a Node/Express server, work in progress. One day, this will be my portfolio website.
        img(src="/images/sf_panorama.jpg")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/bootstrap.bundle.js")
