body
  font 14px Helvetica
  text-align center
  background #fff
  margin-left auto
  margin-right auto

img
  width 100%




li
  list-style none

ul li
  padding 5px

.navbar
  background-color lightblue

li a
  color black




#wrapper
  margin-left 10%
  margin-right 10%
  margin-top 2vw
  width 80%
  padding 20px
  border-bottom-radius(15px)
